{% extends "adminlte_full/base.html" %}
{% load adminlte_full i18n %}

{% block body %}
    <div class="wrapper">

        {% block admin_header %}
            <header class="main-header">
                {% block logo %}
                    <a href="#" class="logo">
                        <!-- mini logo for sidebar mini 50x50 pixels -->
                        <span class="logo-mini"><b>A</b>LT</span>
                        <!-- logo for regular state and mobile devices -->
                        <span class="logo-lg"><b>Admin</b>LTE</span>
                    </a>
                {% endblock %}
                <nav class="navbar navbar-static-top" role="navigation">
                    <!-- Sidebar toggle button-->
                    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                        <span class="sr-only">{% trans 'Toggle navigation' %}</span>
                    </a>
                    {% if request.user.is_authenticated %}
                        <div class="navbar-custom-menu">
                            <ul class="nav navbar-nav">
                                {% block navbar %}
                                    {% show_messages %}
                                    {% show_notifications %}
                                    {% show_tasks %}
                                    {% show_user %}
                                {% endblock %}
                            </ul>
                        </div>
                    {% endif %}
                </nav>
            </header>
        {% endblock %}

        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar sidebar-offcanvas">
            <section class="sidebar">
                {% block sidebar %}
                    {% if request.user.is_authenticated %}
                        {% show_user_panel %}
                        {% show_search_form %}
                    {% endif %}
                    {% show_menu %}
                {% endblock %}
            </section>
            <!-- /.sidebar -->
        </aside>

        <!-- Right side column. Contains the navbar and content of the page -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    {% block page_title %}{% endblock %}
                    <small>{% block page_subtitle %}{% endblock %}</small>
                </h1>
                {% block breadcrumb %}
{#                    {% show_breadcrumb %}#}
                {% endblock %}
            </section>

            <!-- Main content -->
            <section class="content">
                {% block page_content %}{% endblock %}
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->

        {% block admin_footer %}
            <footer class="main-footer">
                <div class="pull-right hidden-xs">
                    <b>Ported to Django <a href="http://github.com/kyzima-spb">Kirill Vercetti</a></b>
                </div>
                <strong>Copyright &copy; 2014-2015 <a href="http://almsaeedstudio.com">Almsaeed Studio</a>.</strong> All rights reserved.
            </footer>
        {% endblock %}

    </div>
    <!-- ./wrapper -->
{% endblock %}