<!DOCTYPE html>{% load static adminlte_full %}
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block page_title %}{% endblock %} | {% block title %}AdminLTE{% endblock %}</title>

    {% block stylesheets %}
        {% link_css 'bootstrap' %}
        {% link_css 'fontawesome' %}
        {% link_css 'ionicons' %}
        {% link_css 'AdminLTE/dist/css/AdminLTE.min.css' %}
        <!-- AdminLTE Skins. Choose a skin from the css/skins
             folder instead of downloading all of them to reduce the load. -->
        {% link_css 'AdminLTE/dist/css/skins/_all-skins.min.css' %}
        {% link_css 'adminlte-full.css' %}
    {% endblock %}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        {% link_js 'html5shiv' %}
        {% link_js 'respond' %}
    <![endif]-->

    {%  block javascripts_head %}{% endblock %}
</head>

<body class="{% block body_css %}hold-transition skin-blue sidebar-mini{% endblock %}">
    {% block body %}{% endblock %}

    {% block javascripts %}
        {% link_js 'jquery' %}
        {% link_js 'bootstrap' %}
        {% link_js 'slimscroll' %}
        {% link_js 'fastclick' %}
        {% link_js 'AdminLTE/dist/js/app.min.js' %}
    {% endblock %}

    {% block javascripts_inline %}{% endblock %}
</body>
</html>