{% extends "adminlte_full/skeleton.html" %}
{% load static adminlte_full %}

{% block styles %}
  {{ block.super }}
{% endblock %}

{% block body_attributes %} class="hold-transition sidebar-mini"{% endblock %}

{% block main %}
  <div class="wrapper">
    <nav class="main-header navbar navbar-expand navbar-white navbar-light">
      {% block navbar %}
        <ul class="navbar-nav">
          {% block navbar_left %}
            <li class="nav-item">
              <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
            </li>
            {% block navbar_left_links %}
              {% comment %}
                <li class="nav-item d-none d-sm-inline-block">
                  <a href="#" class="nav-link"></a>
                </li>
              {% endcomment %}
            {% endblock navbar_left_links %}
          {% endblock navbar_left %}
        </ul>
        {% block search_form %}{% endblock search_form %}
        <ul class="navbar-nav ml-auto">
          {% block navbar_right %}{% endblock navbar_right %}
        </ul>
      {% endblock navbar %}
    </nav>

    <aside class="main-sidebar sidebar-dark-primary elevation-4">
      {% block brand_logo %}
        <a href="/" class="brand-link">
          <img src="{% static '/dist/img/AdminLTELogo.png' %}"
               alt="{{ config.ADMINLTE_BRAND_IMAGE_ALT }}"
               class="brand-image img-circle elevation-3"
               style="opacity: .8">
          <span class="brand-text font-weight-light">{{ config.ADMINLTE_BRAND_TEXT }}</span>
        </a>
      {% endblock brand_logo %}

      {% block sidebar %}
        <div class="sidebar">
          {% block user_panel %}
            {% adminlte.render_user_panel  %}
          {% endblock user_panel %}

          <nav class="mt-2">
            {% block nav_sidebar %}{% endblock nav_sidebar %}
          </nav>
        </div>
      {% endblock sidebar %}
    </aside>

    <div class="content-wrapper">
      {% block content_wrapper %}
        <section class="content-header">
          <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-6">
                <h1>{% block page_title %}Blank Page{% endblock %}</h1>
              </div>
              <div class="col-sm-6">
                {% block breadcrumb %}
                  {% comment %}
                    <ol class="breadcrumb float-sm-right">
                      <li class="breadcrumb-item"><a href="#">Home</a></li>
                      <li class="breadcrumb-item active">Blank Page</li>
                    </ol>
                  {% endcomment %}
                {% endblock breadcrumb %}
              </div>
            </div>
          </div>
        </section>
        <section class="content">
          {% adminlte.render_flash_messages  %}
          {% block page_content %}{% endblock %}
        </section>
      {% endblock content_wrapper %}
    </div>

    <footer class="main-footer">
      {% block main_footer %}
        <div class="float-right d-none d-sm-block">
          <b>Version</b> 3.0.4
        </div>
        <strong>Copyright &copy; 2014-2019 <a href="http://adminlte.io">AdminLTE.io</a>.</strong> All rights reserved.
      {% endblock main_footer %}
    </footer>

    <aside class="control-sidebar control-sidebar-dark">
      {% block control_sidebar %}{% endblock control_sidebar %}
    </aside>
  </div>
{% endblock main %}