{% extends "adminlte_full/base.html" %}
{% load crispy_forms_tags adminlte_full i18n %}



{% trans 'Change my password' as title %}

{% block page_title %}{{ title }}{% endblock page_title %}

{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb title %}{% endbreadcrumb %}
{% endblock breadcrumbs %}

{% block page_content %}
  <div class="card card-primary">
    <div class="card-header">
      <h3 class="card-title">
        {% if username %}
          {% blocktrans with username=username %}Enter a new password for the user <strong>{{ username }}</strong>.{% endblocktrans %}
        {% else %}
          {% trans 'Enter a new password' %}
        {% endif %}
      </h3>
    </div>
    <form action="{{ form_url }}" method="post" role="form">
      <div class="card-body">
        {% crispy form %}
      </div>
      <div class="card-footer">
        <input class="btn btn-primary" type="submit" value="{{ title }}">
      </div>
    </form>
  </div>
{% endblock page_content %}