{% extends "adminlte_full/skeleton_login.html" %}
{% load i18n crispy_forms_tags %}


{% block page_title %}{% trans 'Password Reset' %}{% endblock page_title %}

{% block messages %}
  <p class="login-box-msg">
    {% trans 'You forgot your password? Here you can easily retrieve a new password.' %}
  </p>
{% endblock messages %}

{% block page_content %}
  {% block form %}
    <form action="{% url config.ADMINLTE_PASSWORD_RESET_ENDPOINT %}" method="post">
      {% block form_fields %}
        {% crispy form %}
      {% endblock form_fields %}
      <div class="row">
        <div class="col-12">
          <button type="submit" class="btn btn-primary btn-block">{% trans 'Reset my password' %}</button>
        </div>
      </div>
    </form>
  {% endblock form %}
{% endblock page_content %}

{% block custom_links %}
  <p class="mt-3 mb-1">
    <a href="{% url config.ADMINLTE_LOGIN_ENDPOINT %}">{% trans 'Log in' %}</a>
  </p>
  {% if config.ADMINLTE_ALLOW_REGISTRATION %}
    <p class="mb-0">
      <a href="{% url config.ADMINLTE_REGISTRATION_ENDPOINT %}" class="text-center">
        {% trans 'Register a new membership' %}
      </a>
    </p>
  {% endif %}
{% endblock custom_links %}