{% extends "adminlte_full/skeleton_login.html" %}
{% load i18n crispy_forms_tags %}


{% block page_title %}{% trans 'Recover Password' %}{% endblock page_title %}

{% block messages %}
  <p class="login-box-msg">
    {% if validlink %}
      {% trans 'Please enter your new password twice so we can verify you typed it in correctly.' %}
    {% else %}
      {% trans 'The password reset link was invalid, possibly because it has already been used. Please request a new password reset.' %}
    {% endif %}
  </p>
{% endblock messages %}

{% block page_content %}
  {% if validlink %}
    {% block form %}
      <form method="post" role="form">
        {% block form_fields %}
          {% crispy form %}
        {% endblock form_fields %}
        <div class="row">
          <div class="col-12">
            <button type="submit" class="btn btn-primary btn-block">{% trans 'Change my password' %}</button>
          </div>
        </div>
      </form>
    {% endblock form %}
  {% else %}
    <a class="btn btn-primary btn-block" href="{% url config.ADMINLTE_PASSWORD_RESET_ENDPOINT %}">
        {% trans 'Reset my password' %}
    </a>
  {% endif %}
{% endblock page_content %}

{% block custom_links %}
  <p class="mt-3 mb-0">
    <a href="{% url config.ADMINLTE_LOGIN_ENDPOINT %}">{% trans 'Log in' %}</a>
  </p>
{% endblock custom_links %}