{% extends "adminlte_full/skeleton.html" %}
{% load adminlte_full %}


{% block body_attributes %} class="hold-transition login-page"{% endblock body_attributes %}

{% block body %}
<div class="login-box">
  <div class="login-logo">
    {% block logo %}
      {% if logo_url %}
        <a href="{{ logo_url }}">{{ config.ADMINLTE_BRAND_HTML|safe }}</a>
      {% else %}
        <div>{{ config.ADMINLTE_BRAND_HTML|safe }}</div>
      {% endif %}
    {% endblock logo %}
  </div>

  <div class="card">
    <div class="card-body login-card-body">
      {% adminlte.render_flash_messages %}
      {% block messages %}{% endblock messages %}
      {% block page_content %}{% endblock page_content %}
      {% block custom_links %}{% endblock custom_links %}
    </div>
  </div>
</div>
{% endblock body %}