{% extends "adminlte_full/base.html" %}
{% import "adminlte_full/macros/bootstrap4.html" as bootstrap %}
{% import "adminlte_full/macros/widgets.html" as widgets %}

{% set title = adminlte.gettext('Change my password') %}

{% block page_title %}{{ title }}{% endblock %}

{% block breadcrumbs %}
  {{ super() }}
  {{ bootstrap.breadcrumb(title) }}
{% endblock breadcrumbs %}

{% block page_content %}
  <div class="card card-primary">
    <div class="card-header">
      <h3 class="card-title">
        {% if username %}
          {{ adminlte.gettext('Enter a new password for the user <strong>%(username)s</strong>.', username=username) }}
        {% else %}
          {{ adminlte.gettext('Enter a new password') }}
        {% endif %}
      </h3>
    </div>
    <form action="{{ form_url }}" method="post" role="form">
      <div class="card-body">
        {{ bootstrap.form_fields(form, placeholder=true) }}
      </div>
      <div class="card-footer">
        <input class="btn btn-primary" type="submit" value="{{ title }}">
      </div>
    </form>
  </div>
{% endblock %}