{% extends "adminlte_full/skeleton_login.html" %}
{% import "adminlte_full/macros/bootstrap4.html" as bootstrap %}

{% block page_title %}{{ adminlte.gettext('Password Reset') }}{% endblock %}

{% block messages %}
  <p class="login-box-msg">
    {{ adminlte.gettext('You forgot your password? Here you can easily retrieve a new password.') }}
  </p>
{% endblock messages %}

{% block page_content %}
  {% block form %}
    <form action="{{ adminlte.create_url(config.ADMINLTE_PASSWORD_RESET_ENDPOINT) }}" method="post">
      {% block form_fields %}
        {{ bootstrap.form_fields(form, form_group_class='input-group mb-3', show_label=false, placeholder=true) }}
      {% endblock form_fields %}
      <div class="row">
        <div class="col-12">
          <button type="submit" class="btn btn-primary btn-block">{{ adminlte.gettext('Reset my password') }}</button>
        </div>
      </div>
    </form>
  {% endblock form %}
{% endblock page_content %}

{% block custom_links %}
  <p class="mt-3 mb-1">
    <a href="{{ adminlte.create_url(config.ADMINLTE_LOGIN_ENDPOINT) }}">{{ adminlte.gettext('Log in') }}</a>
  </p>
  {% if config.ADMINLTE_ALLOW_REGISTRATION %}
    <p class="mb-0">
      <a href="{{ adminlte.create_url(config.ADMINLTE_REGISTRATION_ENDPOINT) }}" class="text-center">
        {{ adminlte.gettext('Register a new membership') }}
      </a>
    </p>
  {% endif %}
{% endblock %}