{% load i18n %}

{% if messages != None %}
    <li class="dropdown messages-menu">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-envelope-o"></i>
            <span class="label label-success">{{ total }}</span>
        </a>
        <ul class="dropdown-menu">
            <li class="header">
                {% blocktrans %}You have {{ total }} messages{% endblocktrans %}
            </li>
            <li>
                <!-- inner menu: contains the actual data -->
                <ul class="menu">
                    {% for msg in messages %}
                        <li><!-- start message -->
                            <a href="{% if msg.uid %}{% url 'adminlte_full_show_message' id=msg.uid %}{% else %}#{% endif %}">
                                <div class="pull-left">
                                    {% include 'adminlte_full/inc/avatar.html' with image=msg.sender.avatar alt=msg.sender.username %}
                                </div>
                                <h4>
                                    {{ msg.sender.username }}
                                    <small><i class="fa fa-clock-o"></i> {{ msg.sent_at|date:'DATETIME_FORMAT' }}</small>
                                </h4>
                                <p>{{ msg.subject }}</p>
                            </a>
                        </li><!-- end message -->
                    {% endfor %}
                </ul>
            </li>
            <li class="footer">
                <a href="{% url 'adminlte_full_all_messages'  %}">{% trans 'See All Messages' %}</a>
            </li>
        </ul>
    </li>
{% endif %}