{% load i18n %}

{% if notifications != None %}
    <li class="dropdown notifications-menu">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-bell-o"></i>
            <span class="label label-warning">{{ total }}</span>
        </a>
        <ul class="dropdown-menu">
            <li class="header">
                {% blocktrans %}You have {{ total }} notifications{% endblocktrans %}
            </li>
            <li>
                <!-- inner menu: contains the actual data -->
                <ul class="menu">
                    {% for notice in notifications %}
                        <li>
                            <a href="{% if notice.uid %}{% url 'adminlte_full_show_notification' id=notice.uid %}{% else %}#{% endif %}">
                                <i class="{{ notice.icon }} text-{{ notice.type|default:'muted' }}"></i> {{notice.message}}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </li>
            <li class="footer">
                <a href="{% url 'adminlte_full_all_notifications' %}">{% trans 'View all' %}</a>
            </li>
        </ul>
    </li>
{% endif %}