{% if item.route or item.has_children %}
    <li id="{{ item.uid }}" class="{% if item.is_active %}active{% endif %} {% if item.has_children %}treeview{% endif %}">
        <a href="{% if item.has_children %}#{% else %}{{ item.url }}{% endif %}">
            {% if item.icon %} <i class="{{ item.icon }}"></i> {% endif %}
            <span>{{ item.label }}</span>
            {% if item.badge %}
                <small class="label pull-right bg-{{ item.badge_color }}">{{ item.badge }}</small>
            {% endif %}
            {% if item.has_children %}<i class="fa fa-angle-left pull-right"></i>{% endif %}
        </a>

        {% if item.has_children %}
            <ul class="treeview-menu">
                {% for child in item.children %}
                    <li class="{% if child.is_active %}active{% endif %}" id="{{ child.uid }}">
                        <a href="{{ child.url }}">
                            <i class="{{ child.icon|default:'fa fa-circle-o' }}"></i>
                            {{ child.label }}
                            {% if child.badge %}
                                <small class="label pull-right bg-{{ child.badge_color }}">{{ child.badge }}</small>
                            {% endif %}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </li>
{% else %}
    <li class="header">
        <span>{{ item.label }}</span>
        {% if item.badge %}
            <small class="label pull-right bg-{{ item.badge_color }}">{{ item.badge }}</small>
        {% endif %}
    </li>
{% endif %}