{% extends "adminlte_full/skeleton_login.html" %}
{% load bootstrap4 i18n adminlte_full %}

{% block page_title %}{{ title }}{% endblock %}

{% block login_message %}
  <p class="login-box-msg">
    {% trans 'Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.' %}
  </p>
{% endblock login_message %}

{% block login_form %}
  <form action="{% url config.ADMINLTE_PASSWORD_RESET_ENDPOINT %}" method="POST">
    {% csrf_token %}
    {% bootstrap_field form.email form_group_class="input-group mb-3" show_label="skip" addon_after='<span class="fas fa-envelope"></span>' %}
    <div class="row">
      <div class="col-12">
        <button type="submit" class="btn btn-primary btn-block">{% trans 'Reset my password' %}</button>
      </div>
    </div>
  </form>
{% endblock login_form %}

{% block custom_links %}
  <p class="mt-3 mb-1">
    <a href="{% url config.ADMINLTE_LOGIN_ENDPOINT %}">{% trans 'Log in' %}</a>
  </p>
  {% if config.ADMINLTE_ALLOW_REGISTRATION %}
    <p class="mb-0">
      <a href="{% url config.ADMINLTE_REGISTRATION_ENDPOINT %}" class="text-center">{% trans 'Register a new membership' %}</a>
    </p>
  {% endif %}
{% endblock %}