{% load adminlte_full %}
{% if not is_submenu %}
  <ul data-widget="treeview" role="menu" data-accordion="false" class="nav nav-pills nav-sidebar flex-column
    {{ config.ADMINLTE_SIDEBAR_CHILD_INDENT|if_true:' nav-child-indent' }}
    {{ config.ADMINLTE_SIDEBAR_COMPACT|if_true:' nav-compact' }}
    {{ config.ADMINLTE_SIDEBAR_FLAT_STYLE|if_true:' nav-flat' }}
    {{ config.ADMINLTE_SIDEBAR_LEGACY_STYLE|if_true:' nav-legacy' }}
    {{ config.ADMINLTE_SIDEBAR_SMALL_TEXT|if_true:' text-sm' }}
  ">
{% endif %}
{% for item in menu %}
  {% if item.type == item.TYPE_HEADER %}
    <li class="nav-header">{{ item.title }}</li>
  {% elif item.type == item.TYPE_LINK %}
    <li class="nav-item{% if item.has_children %} has-treeview {% if item.is_active %} menu-open{% endif %}{% endif %}">
      <a class="nav-link{% if item.is_active %} active{% endif %}" href="{{ item.url }}" title="{{ item.help }}">
        <i class="nav-icon {% if item.icon %}{{ item.icon }}{% else %}far fa-circle{% endif %}"></i>
        <p>
          {{ item.title }}
          {% if item.has_children %}
            <i class="right fas fa-angle-left"></i>
          {% endif %}
          {% if item.badge %}
            <span class="right badge badge-{{ item.badge.1 }}">{{ item.badge.0 }}</span>
          {% endif %}
        </p>
      </a>
      {% if item.has_children %}
        <ul class="nav nav-treeview">
          {% include 'adminlte_full/markup/sidebar_menu.html' with menu=item.children is_submenu=1 %}
        </ul>
      {% endif %}
    </li>
  {% endif %}
{% endfor %}
{% if not is_submenu %}</ul>{% endif %}