{% load i18n %}
<li class="nav-item dropdown">
  <a class="nav-link" data-toggle="dropdown" href="#">
    <i class="far fa-flag"></i>
    <span class="badge badge-success navbar-badge">{{ tasks.get_total }}</span>
  </a>
  <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
    <span class="dropdown-item dropdown-header">{{ tasks.get_total }} Tasks</span>
    <div class="dropdown-divider"></div>
    {% for task in tasks %}
      <a href="{{ task.url }}" class="dropdown-item">
        <div class="progress-group">
          {{ task.title }}
          <span class="float-right"><b>{{ task.progress }}</b>/100</span>
          <div class="progress progress-sm">
            <div class="progress-bar bg-{{ task.color }}" style="width: {{ task.progress }}%"></div>
          </div>
        </div>
      </a>
      <div class="dropdown-divider"></div>
    {% endfor %}
    <a href="{{ tasks.get_url }}" class="dropdown-item dropdown-footer">{% trans 'See all tasks' %}</a>
  </div>
</li>